<div class='col-sm-10'>
             <span style = "visibility:hidden;">{{data}}</span> 
            <h1 >{{title}}</h1>
           <form method ='POST' action =''>
               <div calss='form-group'>
                   <lable for='name'><b>Genre:</b></lable>
                   <input id='form-control' type = "text" placeholder="Fantasy,Poetry etc" name ='name' value=''required='true'><br><br>
                    <button type = 'submit' class="btn btn-primary">Submit</button>
               </div>
           </form>
           {{#if errors}}
           {{#each errors}}
           <li>{{this.msg}}</li>
           {{/each}}
           {{/if}}
            </div>
        </div>
    </div>